{% extends 'parking/base.html' %}

{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'parking/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock static %}

{% block content %}
<body>
    {% include 'parking/navbar.html' %}
  <!-- Header -->
  <header class="home-header">
    <div class="">
      <i class="fa fa-map-marker" aria-hidden="true" id="icon_location"></i>
      <span>eParking</span>
    </div>
    <p class="search-label">Sprawdz dostepne miejsce na wybranym parkingu</p>
  </header>
  <!--End Header -->
  <div class="front-img-wrapper">
     <img src="{% static 'parking/images/img_lokalize.png' %}" alt="boy" class="front-img">
  </div>
</body>
{% endblock content %}