{% extends 'parking/base.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'parking/css/navbar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'parking/css/index_parking.css' %}">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" defer src="{% static 'parking/js/search.js' %}"></script>
{% endblock static %}

{% block content %}
<body>
<!-- Navbar -->
{% include 'parking/navbar.html' %}
<!-- End Navbar -->

<!-- Header -->
  <header class="home-header">
    <div class="">
      <i class="fa fa-map-marker" aria-hidden="true" id="icon_location"></i>
      <span>eParking</span>
    </div>
  <p class="search-label">Sprawdz dostepne miejsce na wybranym parkingu</p>
</header>
<!-- End Header -->

<!-- Parking -->
    <div class="" id="parking">
      <div class="search-bar">
        <input type="text" name="search-bar" value="" placeholder="Wyszukaj parking">
      </div>
        <div id="gallery_view">
          {% for location in object %}
            <div class="gallery">
                <a href="{% url 'parking' location.id %}">
                    <img src="{% static location.img_path %}" alt="parking">
                </a>
                <div class="img_title">{{location.name}}</div>
            </div>
          {% endfor %}
        </div>
    </div>
<!-- End Parking -->
</body>
{% endblock content %}