/* --------------------- parking spots --------------- */

.left {
  left: 5.5%;
  bottom: 20%;
  height: 8%;
  width: 13%;
  transform: rotate(0deg);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
}

.first {
  left: 10%;
  bottom: 41%;
  height: 8%;
  width: 24%;
  transform: rotate(-89deg);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}

.second {
  left: 20%;
  bottom: 41%;
  height: 8%;
  width: 24%;
  transform: rotate(-90deg);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
}


.fourth {
  left: 31%;
  bottom: 38%;
  height: 14%;
  width: 28%;
  transform: rotate(-90deg);
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 1fr 1fr;
}


.sixth {
  left: 47.5%;
  bottom: 38%;
  height: 14%;
  width: 22%;
  transform: rotate(-90deg);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
}


.eighth {
  left: 61%;
  bottom: 39.5%;
  height: 13%;
  width: 23%;
  transform: rotate(-90deg);
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
}


.tenth {
  left: 78%;
  bottom: 40%;
  height: 14%;
  width: 17%;
  transform: rotate(-90deg);
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr 1fr;
}
