/* --------------------- parking spots --------------- */
.right_single {
    width: 55%;
    height: 4.5%;
    top: 41%;
    right: -20.5%;
    transform: rotate(94.2deg);
    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: 1fr;
}

.right_top_double {
    width: 20.5%;
    height: 7%;
    top: 17%;
    right: 3%;
    transform: rotate(95.5deg);
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom_single {
    width: 80%;
    height: 3.5%;
    top: 85%;
    right: 15%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(53, 1fr);
    grid-template-rows: 1fr;
}

.bottom_1middle_right_double {
    width: 38%;
    height: 7%;
    top: 76.2%;
    right: 16%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom_1middle_middle_double {
    width: 25.3%;
    height: 7%;
    top: 72.8%;
    right: 55.5%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom_1middle_left_double {
    width: 15%;
    height: 7%;
    top: 70.5%;
    right: 82.2%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom_middle_bottom_double {
    width: 72.2%;
    height: 7%;
    top: 63.8%;
    right: 14.9%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom_middleright_double {
    width: 38%;
    height: 7%;
    top: 55%;
    right: 14%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: 1fr 1fr;
}

.bottom_middlemiddle_double {
    width: 25.3%;
    height: 7%;
    top: 51.6%;
    right: 53.5%;
    transform: rotate(184.5deg);
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: 1fr 1fr;
}

.top_middle_bottom_double {
    width: 72.2%;
    height: 7%;
    top: 42.6%;
    right: 13.2%;
    transform: rotate(184.9deg);
    grid-template-columns: repeat(48, 1fr);
    grid-template-rows: 1fr 1fr;
}

.top1_single {
    width: 6%;
    height: 3.5%;
    top: 21%;
    right: 80.8%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.top2_single {
    width: 11%;
    height: 3.5%;
    top: 22.5%;
    right: 65.9%;
    transform: rotate(184.7deg);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.top3_single {
    width: 10%;
    height: 3.5%;
    top: 23.7%;
    right: 52.4%;
    transform: rotate(184.7deg);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
}

.top4_single {
    width: 7.3%;
    height: 3.5%;
    top: 24.8%;
    right: 41.6%;
    transform: rotate(184.7deg);
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.top_middle1_single {
    width: 5%;
    height: 7%;
    top: 28.9%;
    right: 79.5%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
}

.single_1 {
    width: 1.6%;
    height: 3.5%;
    top: 32.6%;
    right: 78%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
}

.top_middle1_double {
    width: 25%;
    height: 7%;
    top: 30.2%;
    right: 51.6%;
    transform: rotate(185deg);
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: 1fr 1fr;
}

.single_2 {
    width: 1.4%;
    height: 3.3%;
    top: 31.4%;
    right: 50%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
}

.top_middle2_double {
    width: 25%;
    height: 7%;
    top: 32.9%;
    right: 25.3%;
    transform: rotate(185deg);
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: 1fr 1fr;
}

.single_3 {
    width: 1.4%;
    height: 3.3%;
    top: 37.8%;
    right: 23.8%;
    transform: rotate(185.3deg);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
}

.top_middle3_double {
    width: 11%;
    height: 7%;
    top: 34.8%;
    right: 12.7%;
    transform: rotate(185deg);
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
}






